# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Loading csv file exported from WeatherPy to new DataFrame:
path = "output_data/clean_city_data.csv"

# Reading in the csv file and creating the new dataframe:
new_city_df = pd.read_csv(path)

# Cleaning dataframe:
city_df_cleaned = new_city_df.dropna()
city_df_cleaned

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.1203,-134.9692,22.89,73,100,9.86,PF,1660209281
1,Port Alfred,-33.5906,26.8910,17.88,82,100,0.45,ZA,1660209283
2,Hobart,-42.8794,147.3294,11.92,83,75,3.09,AU,1660209213
3,Zhob,31.3411,69.4481,32.59,35,44,3.11,PK,1660209288
4,Nikolskoye,59.7035,30.7861,24.37,41,99,4.68,RU,1660209290
...,...,...,...,...,...,...,...,...,...
534,Natal,-5.7950,-35.2094,23.12,94,20,2.06,BR,1660210464
535,Ryabovo,59.4000,31.1333,23.62,38,79,4.48,RU,1660210466
536,Plettenberg Bay,-34.0527,23.3716,17.72,62,96,1.96,ZA,1660210468
537,Naze,28.3667,129.4833,29.51,75,100,0.96,JP,1660210189
538,Tilichiki,60.4667,166.1000,10.82,96,100,2.59,RU,1660210472

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps:
gmaps.configure(api_key=g_key)

In [4]:
# Using Latitude and Longitude as locations:
locations = city_df_cleaned[["Latitude", "Longitude"]]

# Using Humidity as the weight: 
humidity = city_df_cleaned["Humidity"].astype(float)

In [5]:
# Adding heatmap layer to map:
fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)

# Add layer
fig.add_layer(heatmap_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the cities to fit weather conditions"

# Zero cloudiness:
cloud_df = city_df_cleaned[city_df_cleaned["Cloudiness"] == 0]

# A max temperature lower than 80 degrees but higher than 70:
temp_df = cloud_df[(cloud_df["Max Temp"] > 21) & (cloud_df["Max Temp"] < 27)]

# Wind speed less than 10 mph:
wind_df = temp_df[temp_df["Wind Speed"] < 4.5]

# Drop any rows will null values:
wind_df = wind_df.dropna()
wind_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
65,Moerai,-22.4333,-151.3333,22.19,72,0,1.42,PF,1660209426
76,Pampa,35.5362,-100.9599,23.53,64,0,2.57,US,1660209451
81,Marrakesh,31.6315,-8.0083,25.04,61,0,1.03,MA,1660209462
86,Liverpool,53.4106,-2.9779,25.84,65,0,2.06,GB,1660209473
88,RÄ«ga,57.0000,24.0833,23.84,51,0,3.09,LV,1660209312
121,Laguna,38.4210,-121.4238,21.21,77,0,2.57,US,1660209549
141,Livingston,55.9029,-3.5226,23.40,51,0,1.03,GB,1660209593
188,ÃœrÃ¼mqi,43.8010,87.6005,24.53,50,0,2.00,CN,1660209696
234,Mendota,36.7536,-120.3816,21.15,51,0,3.98,US,1660209798
263,Lata,40.1629,-8.3327,23.92,53,0,1.03,PT,1660209863
268,Winder,33.9926,-83.7202,22.56,95,0,0.00,US,1660209874
269,Boa Vista,2.8197,-60.6733,25.99,83,0,2.06,BR,1660209876
302,Inhambane,-23.8650,35.3833,25.63,55,0,3.50,MZ,1660209950
364,Sinazongwe,-17.2614,27.4618,23.95,44,0,3.74,ZM,1660210088
391,Selma,36.5708,-119.6121,24.03,61,0,2.06,US,1660210147
426,Texarkana,33.4251,-94.0477,23.12,93,0,0.00,US,1660210224
438,Bor,56.3567,44.0669,21.96,43,0,2.32,RU,1660210250
441,Westerland,54.9079,8.3033,25.53,56,0,3.09,DE,1660210257
449,Winslow,35.0242,-110.6974,21.10,78,0,2.57,US,1660210274
476,Altenholz,54.4000,10.1333,25.60,46,0,1.54,DE,1660210335
486,South Yuba City,39.1166,-121.6391,22.32,60,0,4.12,US,1660210358
511,Saint George,37.1041,-113.5841,26.64,54,0,2.57,US,1660210413

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Store into variable named hotel_df:
hotel_df = wind_df

# Add a "Hotel Name" column:
hotel_df["Hotel Name"] = ""

# Set parameters to search for hotels with 5000 meters:

# Set params:
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotels",
    "key": g_key
}

# Loop through to identify hotels:
for index, row in hotel_df.iterrows():
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    hotel_data = requests.get(base_url, params=params).json()
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
    except: 
        print("Issues with finding a hotel at", row["City"])
        hotel_df.loc[index, "Hotel Name"] = "NA"
    
hotel_df

Issues with finding a hotel at Mendota
Issues with finding a hotel at Lata

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
65,Moerai,-22.4333,-151.3333,22.19,72,0,1.42,PF,1660209426,VAITUMU VILLAGE
76,Pampa,35.5362,-100.9599,23.53,64,0,2.57,US,1660209451,Hampton Inn Pampa
81,Marrakesh,31.6315,-8.0083,25.04,61,0,1.03,MA,1660209462,Rodamon Riad Marrakech
86,Liverpool,53.4106,-2.9779,25.84,65,0,2.06,GB,1660209473,Hotel Pullman Liverpool
88,RÄ«ga,57.0000,24.0833,23.84,51,0,3.09,LV,1660209312,Grand Poet by Semarah Hotels
121,Laguna,38.4210,-121.4238,21.21,77,0,2.57,US,1660209549,Hampton Inn & Suites Sacramento-Elk Grove Lagu...
141,Livingston,55.9029,-3.5226,23.40,51,0,1.03,GB,1660209593,Mercure Livingston Hotel
188,ÃœrÃ¼mqi,43.8010,87.6005,24.53,50,0,2.00,CN,1660209696,Sheraton Urumqi Hotel
234,Mendota,36.7536,-120.3816,21.15,51,0,3.98,US,1660209798,NA
263,Lata,40.1629,-8.3327,23.92,53,0,1.03,PT,1660209863,NA
268,Winder,33.9926,-83.7202,22.56,95,0,0.00,US,1660209874,"Holiday Inn Express Bethlehem, an IHG Hotel"
269,Boa Vista,2.8197,-60.6733,25.99,83,0,2.06,BR,1660209876,ibis Styles Boa Vista
302,Inhambane,-23.8650,35.3833,25.63,55,0,3.50,MZ,1660209950,Hotel Casa Do CapitÃ£o
364,Sinazongwe,-17.2614,27.4618,23.95,44,0,3.74,ZM,1660210088,Lakeview Lodge
391,Selma,36.5708,-119.6121,24.03,61,0,2.06,US,1660210147,"Holiday Inn Selma-Swancourt, an IHG Hotel"
426,Texarkana,33.4251,-94.0477,23.12,93,0,0.00,US,1660210224,Residence Inn by Marriott
438,Bor,56.3567,44.0669,21.96,43,0,2.32,RU,1660210250,Sheraton Nizhny Novgorod Kremlin
441,Westerland,54.9079,8.3033,25.53,56,0,3.09,DE,1660210257,Relais & ChÃ¢teaux Landhaus Stricker
449,Winslow,35.0242,-110.6974,21.10,78,0,2.57,US,1660210274,La Posada Hotel
476,Altenholz,54.4000,10.1333,25.60,46,0,1.54,DE,1660210335,Strandhotel
486,South Yuba City,39.1166,-121.6391,22.32,60,0,4.12,US,1660210358,Hampton Inn & Suites Yuba City
511,Saint George,37.1041,-113.5841,26.64,54,0,2.57,US,1660210413,"The Advenire, Autograph Collection"

In [8]:
#Delete rows without hotels in 5000 meters:
hotel_df = hotel_df[hotel_df["Hotel Name"] != "NA"]
hotel_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
65,Moerai,-22.4333,-151.3333,22.19,72,0,1.42,PF,1660209426,VAITUMU VILLAGE
76,Pampa,35.5362,-100.9599,23.53,64,0,2.57,US,1660209451,Hampton Inn Pampa
81,Marrakesh,31.6315,-8.0083,25.04,61,0,1.03,MA,1660209462,Rodamon Riad Marrakech
86,Liverpool,53.4106,-2.9779,25.84,65,0,2.06,GB,1660209473,Hotel Pullman Liverpool
88,RÄ«ga,57.0000,24.0833,23.84,51,0,3.09,LV,1660209312,Grand Poet by Semarah Hotels
121,Laguna,38.4210,-121.4238,21.21,77,0,2.57,US,1660209549,Hampton Inn & Suites Sacramento-Elk Grove Lagu...
141,Livingston,55.9029,-3.5226,23.40,51,0,1.03,GB,1660209593,Mercure Livingston Hotel
188,ÃœrÃ¼mqi,43.8010,87.6005,24.53,50,0,2.00,CN,1660209696,Sheraton Urumqi Hotel
268,Winder,33.9926,-83.7202,22.56,95,0,0.00,US,1660209874,"Holiday Inn Express Bethlehem, an IHG Hotel"
269,Boa Vista,2.8197,-60.6733,25.99,83,0,2.06,BR,1660209876,ibis Styles Boa Vista
302,Inhambane,-23.8650,35.3833,25.63,55,0,3.50,MZ,1660209950,Hotel Casa Do CapitÃ£o
364,Sinazongwe,-17.2614,27.4618,23.95,44,0,3.74,ZM,1660210088,Lakeview Lodge
391,Selma,36.5708,-119.6121,24.03,61,0,2.06,US,1660210147,"Holiday Inn Selma-Swancourt, an IHG Hotel"
426,Texarkana,33.4251,-94.0477,23.12,93,0,0.00,US,1660210224,Residence Inn by Marriott
438,Bor,56.3567,44.0669,21.96,43,0,2.32,RU,1660210250,Sheraton Nizhny Novgorod Kremlin
441,Westerland,54.9079,8.3033,25.53,56,0,3.09,DE,1660210257,Relais & ChÃ¢teaux Landhaus Stricker
449,Winslow,35.0242,-110.6974,21.10,78,0,2.57,US,1660210274,La Posada Hotel
476,Altenholz,54.4000,10.1333,25.60,46,0,1.54,DE,1660210335,Strandhotel
486,South Yuba City,39.1166,-121.6391,22.32,60,0,4.12,US,1660210358,Hampton Inn & Suites Yuba City
511,Saint George,37.1041,-113.5841,26.64,54,0,2.57,US,1660210413,"The Advenire, Autograph Collection"

In [9]:
# Checking hotels:
len(hotel_df[["Latitude", "Longitude"]])

20

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [12]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))